extends home.pug
block content
    h1 our bedrooms 
    br 
    section.old
            h1 old version
            p our old version is still up to date
            a(href='/home') to the old version
            br 
            br 
            img(src="/first.jpg", alt="")
            br
            br
            br
            br
            img(src="/bedroom.jpeg", alt="")
            br
            br
            h2 the best furniture
    section.detail
        each i in data
            div.preview
                a(href='/new/buy/' +i._id) browse and buy 
                    p=i.name
                    p=i.price
                        span $ 
                    p=i.kind
                    if i.discount > 0
                        div#discount
                            p 
                            span -
                            strong=i.discount
                                span %
                            br
                            span ONLY
                            br 
                            span=i.price - (i.price * i.discount)/100
                                span $
                    img(src=i.image, alt="")  
            br
        div.simple-page 
            if prevpage > 0
                a(href='/new/bedrooms?page='+prevpage) << prev 
            if data.length == 2
                a(href='/new/bedrooms?page='+nextpage) next >> 
    br
    br