extends home.pug
block content
    h1 discount
        if kind
            strong=kind
        if !kind
            strong=data[0].kind
    br
    br
    section.old
            h1 old version
            p our old version is still up to date
            a(href='/home') to the old version
            br 
            br 
            img(src="/first.jpg", alt="")
            br
            br
            br
            br
            img(src="/bedroom.jpeg", alt="")
            br
            br
            h2 the best furniture  
    section.detail
        each i in data
            div.preview
                a(href='/new/buy/' +i._id) browse and buy 
                    p=i.name
                    p=i.price
                        span $ 
                    p=i.kind
                    img(src=i.image, alt="")
                    p=i.discount
            br 
        if kind
            div.simple-page 
                if prevpage > 0
                    a(href='/new/discount?page='+prevpage) << prev 
                if data.length == 2  
                    a(href="/new/discount?page=" +nextpage) next >> 
        if !kind
            div.simple-page 
                if prevpage > 0
                    a(href='/new/'+data[0].kind + '?page='+prevpage) << prev 
                if data.length == 2  
                    a(href="/new/"+data[0].kind + "?page=" +nextpage) next >>
    br 
    br 